ul {
    width: $width;
    height: 100%;
    &.page1 {
        background: #ccc;
        a{
            background: #333;
            color: #fff;
        }
    }
    &.page2 {
        background: #333;
        a{
            background: #ccc;
            color: #000;
        }
    }
    li {
        width: $width;
        height: $height;
        background: $li-color;
        flex: auto;
        margin: 20px;
        a {
            display: block;
            padding: $height;
            text-decoration: none;
        }
    }
}

:fullscreen a {
    display: flex
}