<section class="content" ui-view=""></section>
<nav class="nav">
    <ul class="flex-parent">
        <li class="nav-item">
            <div ng-click="toAddress('/home')">home</div>
        </li>
        <li class="nav-item">
            <div ng-click="toAddress('/message')">message</div>
        </li>
        <li class="nav-item">
            <div ng-click="toAddress('/mark')">mark</div>
        </li>
        <li class="nav-item">
            <div ng-click="toAddress('/my')">my</div>
        </li>
    </ul>
</nav>