@charset "utf-8";

// Button 按钮生成器
//
// 生成包括4种状态在内的按钮
// :hover, :focus, :active, disabled
// 4种显示的class
// .hover, .focus, :active, .disabled
// button-variant 不包括按钮的大小，只包括颜色、背景、边框
// button-size 用于调整button的大小、内边距、字体、行高

@mixin button-variant($color, $background, $border) {
    color: $color;
    background-color: $background;
    border-color: $border;

    &:focus,
    &.focus {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($border, 25%);
    }

    &:hover,
    &.hover {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($border, 12%);
    }

    &:active,
    &.active {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($border, 12%);

        &:hover,
        &:focus,
        &.focus {
            color: $color;
            background-color: darken($background, 17%);
            border-color: darken($border, 25%);
        }
    }

    &:active,
    &.active {
        background-image: none;
    }

    &.disabled,
    &[disabled] {
        &:hover,
        &:focus,
        &.focus {
            background-color: $background;
            border-color: $border;
        }
    }

}

// Button 大小调整
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    line-height: $line-height;
    border-radius: $border-radius;
}
