@charset "utf-8";

// 用于规定元素大小，便捷使用

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin square($size) {
    @include size($size, $size);
}

// add circle by aco 添加圆形

@mixin circle($size) {
    @include size($size, $size);
    border-radius: $size/2;
}
