@charset "utf-8";

// Text overflow
// 提供 % 形式
// 文字一行显示，溢出部分使用 ··· 表示

@mixin text-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

%text-overflow{
    @include text-overflow;
}
